<label class="wrapper" *ngIf="list.id === todo.listId">
	<mat-list-item
		[ngClass]="{
			item: true,
			done: todo.isDone,
			selected: isActive || todo.id === activeNote
		}"
	>
		<mat-checkbox
			matLine
			class="checkbox"
			[checked]="todo.isDone"
			[(ngModel)]="todo.isDone"
			(ngModelChange)="clicked.emit(todo)"
			><span class="title">{{ todo.title }}</span>
		</mat-checkbox>

		<button *ngIf="todo.isUrgent" class="icon">
			<mat-icon
				matListIcon
				aria-hidden="false"
				aria-label="Urgent todo"
				color="#f7f7f7"
				class="urgent"
			>
				flag</mat-icon
			>
		</button>
		<button
			mat-button
			[ngClass]="{
				icon: true,
				active: todo.id === activeNote
			}"
			(click)="toggleNote(todo.id)"
			[disabled]="!todo.notes ? true : false"
		>
			<mat-icon
				matListIcon
				aria-hidden="false"
				aria-label="Urgent todo"
				color="#f7f7f7"
				[ngClass]="{ notes: true, hide: !todo.notes }"
			>
				comment</mat-icon
			>
		</button>

		<button
			mat-button
			#tooltip="matTooltip"
			[matTooltip]="daysUntilDeadline$ | async"
			matTooltipPosition="left"
			matTooltipHideDelay="50"
			aria-label="Button that displays a tooltip that hides when scrolled out of the container"
			class="icon"
			(click)="tooltip.show(); $event.stopPropagation()"
			[disabled]="!todo.deadline ? true : false"
		>
			<mat-icon
				matListIcon
				aria-hidden="false"
				aria-label="Urgent todo"
				color="#f7f7f7"
				[ngClass]="{ clock: true, hide: !todo.deadline }"
			>
				schedule</mat-icon
			>
		</button>

		<button mat-button class="icon" type="button" (click)="selected.emit(todo)">
			<mat-icon
				matListIcon
				class="edit"
				aria-hidden="false"
				aria-label="list options"
			>
				edit</mat-icon
			>
		</button>
	</mat-list-item>
	<div class="notes-wrapper" *ngIf="todo.id === activeNote">
		{{ todo.notes }}
	</div>
</label>
