@import 'animations';
@import 'variables';
@import 'mixins';

.todos {
	display: block;
	padding: 0;
	overflow: hidden;
	transition: all 0.15s linear;
}

.list {
	padding: 2.5rem 2.4rem 0.75rem;
	font-weight: bold;
	margin: 0;

	@include media-breakpoint-down(s) {
		padding: 2rem 1.25rem 0.75rem;
	}
}

.no-todos {
	margin: 2rem 2.5rem;
}

.add-btn {
	position: absolute;
	bottom: 1.5rem;
	right: 1.5rem;

	@include media-breakpoint-down(s) {
		display: none;
	}
}

.todo-title {
	@include media-breakpoint-down(s) {
		font-size: 0.95rem;
	}
}
