<mat-action-list class="todos" *ngIf="hasTodos; else noTodos">
	<div *ngFor="let group of todos | keyvalue">
		<h3 class="list" *ngIf="group.value.length">
			{{ group.key }}
		</h3>
		<app-todo
			[isActive]="selectedTodo?.id === todo.id"
			[todo]="todo"
			[(activeNote)]="activeNote"
			(selected)="selected.emit($event)"
			(clicked)="clicked.emit($event)"
			*ngFor="let todo of group.value"
		></app-todo>
	</div>
</mat-action-list>

<ng-template #noTodos>
	<div class="no-todos" *ngIf="!!todos">
		Click on the add button to add a new to do item
	</div>
</ng-template>

<button
	mat-fab
	color="primary"
	class="add-btn"
	aria-label="Add todo"
	(click)="added.emit()"
>
	<mat-icon>add</mat-icon>
</button>
