@import '../../../scss/variables';
@import '../../../scss/animations';

.wrapper {
	position: relative;
	transition: all 0.3s ease;
}

.item {
	user-select: none;
	border-bottom: 1px solid rgba(255, 255, 255, 0.06);
}

.checkbox[ng-reflect-checked='true'] {
	text-decoration: line-through;
}

.icon {
	padding: 0;
	min-width: 36px;
	margin-right: 0.5rem;
	display: flex;
	justify-content: center;

	& .clock,
	.urgent,
	.notes {
		font-size: 20px;
		width: 20px;
		height: 20px;

		&.hide {
			color: #686868;
		}
	}

	&.active {
		background: #424242;
	}
}

.notes-wrapper {
	padding: 0 2rem;
	background: rgba(255, 255, 255, 0.04);
	border-bottom: 1px solid rgba(255, 255, 255, 0.12);
	overflow: hidden;
	animation: expand 0.15s ease forwards;
}

.done {
	color: var(--light);
}

.selected {
	background-color: var(--bg-light);
}

@media screen and (max-width: map-get($breakpoints, 's' )) {
	.item {
		width: auto;
		height: auto !important;
		user-select: none;
		margin: 0.75rem 1rem;
		border-radius: 1rem;
		border: 3px solid rgba(255, 255, 255, 0.06);
		box-shadow: 0 10px 10px rgba(0, 0, 0, 0.05);
		box-sizing: border-box;
		overflow: hidden;
	}
	.notes-wrapper {
		padding: 1.5rem;
	}
	.list {
		padding: 2rem 1.25rem 0;
	}
	.icon {
		margin-right: 0;

		&:last-of-type {
			margin-right: 0.5rem;
		}

		& .clock,
		.notes,
		.urgent {
			font-size: 16px;
			width: 16px;
			height: 16px;
		}
		& .edit {
			font-size: 19px;
			width: 19px;
			height: 19px;
		}
	}
}
