@import 'variables';
@import 'mixins';

.wrapper {
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
	border-top: 3px solid map-get($colors, 'border-primary');
	bottom: 0;
	color: #fff;
	display: none;
	left: 0;
	height: 4rem;
	justify-content: space-evenly;
	position: fixed;
	align-items: center;
	width: 100%;

	@include media-breakpoint-down(s) {
		display: flex;
	}
}

.add-btn {
	align-items: center;
	background: none;
	box-shadow: none;
	border: 1px solid map-get($colors, 'border-primary');
	display: flex;
	height: 2.75rem;
	justify-content: center;
	margin: auto;
	position: relative;
	width: 2.75rem;
}

.col {
	align-items: center;
	display: flex;
	flex-direction: column;
	flex: 0 0 30%;
	justify-content: center;
}

.text {
	font-family: $font-primary;
	font-size: 0.7rem;
	padding-top: 0.05rem;
}
