@import 'variables';

.wrapper {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 2rem 2.4rem 1.5rem;
}

.title {
	margin: 0;
	display: flex;
	align-items: center;
	font-weight: 700;
}

.progress-bar {
	width: 10%;
}

.icon {
	margin-right: 0.5rem;
	font-size: 20px;
	width: 20px;
	height: 20px;
}

.mobile-menu {
	display: none;
}

@media screen and (max-width: map-get($breakpoints, 's' )) {
	.wrapper {
		margin: 0;
		padding: 1.5rem 1rem;
		position: relative;
	}

	.title {
		font-size: 1.45rem;
		margin: 0;
	}

	// .mobile-menu {
	// 	display: block;
	// }

	.progress-bar {
		position: absolute;
		bottom: 0;
		z-index: 99;
		left: 0;
		width: 100%;
	}
}
