<mat-action-list
	class="todos"
	[style]="selectedTodo.id ? { width: '60%' } : { width: '100%' }"
	*ngIf="todos.length !== 0; else noTodos"
>
	<div *ngFor="let list of todosByList | keyvalue">
		<h3 class="list" *ngIf="list.value.length">
			{{ list.key }}
		</h3>
		<app-todo
			[list]="list"
			[todo]="todo"
			[selectedTodo]="selectedTodo"
			[(activeNote)]="activeNote"
			(selected)="selected.emit($event)"
			(clicked)="clicked.emit($event)"
			*ngFor="let todo of todos"
		></app-todo>
	</div>
</mat-action-list>

<ng-template #noTodos
	><div class="no-todos">
		Click on the add button to add a new to do item
	</div></ng-template
>

<button
	mat-fab
	color="primary"
	class="add-btn"
	aria-label="Example icon button with a delete icon"
	(click)="added.emit()"
>
	<mat-icon>add</mat-icon>
</button>
