@import 'variables';

.wrapper {
	align-items: center;
	color: #fff;
	display: flex;
	font-weight: 700;
	justify-content: space-between;
	padding: 2rem 2.5rem;
}

.branding {
	align-items: center;
	display: flex;

	& > h1 {
		font-weight: 700;
		font-size: 0.9rem;
		margin: 0;
		padding-left: 0.75rem;
	}
}

.logoutBtn {
	border: 3px solid rgba(255, 255, 255, 0.12);
	border-radius: 50rem;
	padding: 0.5rem 1rem;
	margin-left: 2rem;
}
