<div class="details">
	<form #ngForm (submit)="saved.emit(todo)" (keydown.enter)="saved.emit(todo)">
		<mat-form-field class="form-field">
			<mat-label>Edit Title</mat-label>
			<input
				matInput
				name="title"
				type="text"
				placeholder="What do you have to do?"
				[(ngModel)]="todo.title"
				autocomplete="off"
				required
			/>
		</mat-form-field>

		<mat-form-field class="form-field">
			<mat-label>Edit List</mat-label>
			<mat-select
				[(value)]="todo.list"
				[compareWith]="isSelected"
				name="list"
				required
			>
				<mat-option *ngFor="let list of lists" [value]="list">
					{{ list.title }}
				</mat-option>
			</mat-select>
		</mat-form-field>

		<mat-form-field class="form-field" (click)="picker.open()">
			<mat-label>Edit To Do Until</mat-label>
			<input
				autocomplete="off"
				matInput
				name="doneUntil"
				[matDatepicker]="picker"
				[ngModel]="todo.deadline"
				(ngModelChange)="updateDate($event)"
			/>
			<mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
			<mat-datepicker #picker></mat-datepicker>
		</mat-form-field>

		<mat-form-field class="form-field">
			<mat-label>Edit Notes</mat-label>
			<textarea
				matInput
				name="notes"
				placeholder="Would you like to add more information about the task?"
				[(ngModel)]="todo.notes"
				>{{ todo.notes }}</textarea
			>
		</mat-form-field>

		<mat-slide-toggle
			class="form-field"
			matLine
			name="urgent"
			[(ngModel)]="todo.isUrgent"
			>Urgent</mat-slide-toggle
		>

		<div class="btn-wrapper">
			<button mat-stroked-button type="button" (click)="cancelled.emit()">
				Cancel
			</button>
			<button mat-raised-button type="submit" color="primary">Save</button>
		</div>
	</form>
</div>
