@import 'variables';

.page {
	align-items: center;
	color: #fff;
	display: flex;
	flex-direction: column;
	height: 100vh;
	justify-content: center;
}

.logo {
	margin-bottom: 1rem;
	margin-top: -5rem;
}

.btnGroup {
	font-weight: 700;
	margin-top: 1rem;

	& button {
		border-radius: 0.25rem;
		padding: 0.65rem 1.1rem;
		margin: 0 0.5rem;
	}

	& button:nth-of-type(1) {
		border: 2px solid map-get($colors, 'border-primary');
	}

	& button:nth-of-type(2) {
		background: map-get($colors, 'secondary');
		border: 2px solid map-get($colors, 'secondary');
	}
}
