<mat-drawer-container class="app">
	<mat-drawer
		[ngClass]="{ side: true, expanded: isListsMobileExpanded }"
		mode="side"
		opened
	>
		<app-lists
			class="sidebar"
			[selectedList]="selectedList"
			(selected)="selectList($event)"
			(toggled)="toggleLists()"
		></app-lists>
	</mat-drawer>
	<mat-drawer-content class="main">
		<app-header
			[todos]="todos"
			[selectedList]="selectedList"
			(expanded)="toggleLists()"
		></app-header>
		<app-todos
			[todos]="todos"
			[selectedTodo]="selectedTodo"
			(selected)="select($event)"
			(clicked)="clickTodo($event)"
			(added)="addTodo()"
		></app-todos>

		<app-details
			[todo]="selectedTodo"
			(saved)="saveTodo($event)"
			(cancelled)="cancel()"
			*ngIf="selectedTodo.id || selectedTodo.new"
		></app-details>
		<app-bottom-menu></app-bottom-menu>
	</mat-drawer-content>
</mat-drawer-container>
