<mat-drawer-container class="app">
	<mat-drawer
		[ngClass]="{ side: true, expanded: isListsMobileExpanded }"
		mode="side"
		opened
	>
		<app-lists
			class="sidebar"
			[selectedList]="selectedList$ | async"
			[lists]="lists$ | async"
			(selected)="selectList($event)"
			(toggled)="toggleLists()"
		></app-lists>
	</mat-drawer>
	<mat-drawer-content class="main">
		<app-top-bar></app-top-bar>
		<app-header
			[selectedList]="selectedList$ | async"
			[todos]="filteredTodos$ | async"
			(expanded)="toggleLists()"
		></app-header>
		<app-todos
			[selectedTodo]="selectedTodo$ | async"
			[todos]="todosGroupedByLists$ | async"
			(added)="addTodo()"
			(clicked)="updateTodo($event)"
			(selected)="selectTodo($event)"
		></app-todos>

		<app-details
			[lists]="customLists$ | async"
			[todo]="selectedTodo$ | async"
			(saved)="saveTodo($event)"
			(cancelled)="selectTodo(undefined)"
			*ngIf="showDetails$ | async"
		></app-details>
		<app-bottom-menu></app-bottom-menu>
	</mat-drawer-content>
</mat-drawer-container>
