@import '../scss/variables';
@import '../scss/mixins';

:host {
	display: flex;
	flex-direction: column;
	height: 100vh;
}

.app {
	height: 100%;

	@include media-breakpoint-down(s) {
		flex: 1 1 auto;
	}
}

.side {
	min-width: 17.5rem;
	width: 17.5%;

	@include media-breakpoint-down(s) {
		min-width: 0;
		width: 0%;
		transform: translateX(-400px) !important;
		border-right: 0;
		z-index: 3 !important;
	}

	&.expanded {
		@include media-breakpoint-down(s) {
			width: 100%;
			transform: translateX(0px) !important;
			transition: width, transform 0.15s ease;
		}
	}
}

.main {
	box-shadow: -10px 0px 20px rgba(0, 0, 0, 0.125);
	z-index: 2;

	@include media-breakpoint-down(s) {
		width: 100%;
	}
}

.sidebar {
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.title {
	margin: 1.5rem 1.75rem;
}

.row {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
