@import './variables';

body {
	margin: 0;
	font-family: $font-secondary;
	overflow: hidden;
	background: var(--bg-dark);
}

button {
	background-color: transparent;
	border: none;
	color: inherit;
	font-weight: inherit;
}

@for $i from 1 through 6 {
	h#{$i} {
		font-family: $font-primary;
	}
}
